name: CMake

on:
  push:
    branches: [ workflows_test ]
  pull_request:
    branches: [ workflows_test ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Debug

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: PWD
      run: pwd

    - name: List files in the repository
      run: ls ${{ github.workspace }}

    - name: Build with docker
      uses: ./.github/workflows/docker-action
      
